apiVersion: apps/v1 
kind: Deployment
metadata:
  name: hello-deploy
spec:
  replicas: 5
  selector:
    matchLabels: 
      app: hello-deploy
  template:
    metadata:
      labels:
        app: hello-deploy
    spec:
      containers:
      - name: firstpod
        image: tomcat
        ports:
        - containerPort: 8080
