apiVersion: apps/v1
kind: StatefulSet 
metadata:
  name: db
  labels:
    app: redis
spec:
  replicas: 8
  serviceName: redis
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:latest 
        ports:
        - containerPort: 6379

---

apiVersion: v1
kind: Service
metadata:
  name: redis
  labels:
    app: redis
spec:
  ports:
  - port: 80
  clusterIP: None
  selector:
    app: redis
